.myheader {
    background-size: myheader;
}

.brand-banner__header div:last-child {
    border-bottom: 11px solid #f52828;
    display: inline-block;
    padding: 12px 0 11px;
}

.brand-banner__header {
    text-transform: uppercase;
    font-family: Fakt, AvenirNext-Medium, Segoe UI, sans-serif;
    font-weight: 500;
    line-height: 43px;
    margin-top: 120px;
}


/* .button {
    color: #fff;
    background-color: red;
    border: 1px soild red;
    font-size: 16px;
    line-height: 3.5;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 32px;
    padding-left: 32px;
    font-weight: 600;
    text-decoration: none;
} */

.button {
    margin-top: 20px;
}

.item-two {
    text-align: center;
    padding: 16px 8px;
    /* margin-left: 100px; */
    text-transform: uppercase;
    color: gray;
    margin-top: 20px;
}

.nl {
    color: gray;
}

.nl:hover {
    color: black;
}

.hhhh {
    border-bottom: 1px solid black;
    margin-top: 0;
    margin-bottom: 80px;
}

h1 {
    border-bottom: 1px soild black;
    margin-bottom: 80px;
    margin-top: 10px;
}

.bl {
    color: black;
    font-weight: bold;
}

.section-content {
    position: absolute;
    top: 20px;
    left: 15px;
    width: calc(100% - 24px);
}

.section-title {
    color: rgb(39, 33, 33);
    margin-bottom: 10px;
}

.hh {
    margin-top: 10px;
}

.section-click {
    margin-top: 20px;
    text-align: right;
}

.ss {
    width: 20px;
    height: 20px;
}

.footer {
    margin-top: 20px;
    padding: 32px 16px 64px;
}

footer {
    display: block;
}

.footer-links {
    font-size: 14px;
    text-align: center;
}

ul {
    list-style-type: none;
}

.footer-links li {
    display: inline-block;
}

.footer-links li a {
    color: #666;
    padding: 12px;
    text-decoration: underline;
}

.footer__copyright {
    color: #666;
    margin-top: 20px;
    text-align: center;
}

.mb {
    margin-top: -10px;
}

.sig {
    margin-top: 70px;
}